.body {
	background-color: white;
	color: black;
    font-family: 'Architects Daughter', cursive;
	font-size: 25px;
    text-align: center;
}
.topNav {
	grid-row: 1;
	display: grid;
	grid-template-columns: 3fr 3fr 3fr;
	padding: 0px 0px 15px 0px;
	font-size: 15px;
	position: relative;
	font-size: 25px;
	top: 15px;
	border-bottom: dimgray;
	border-bottom-style: ridge;
}
.brand {
	text-decoration: none;
	justify-self: center;
	color: black;
	left: 40px;
}
.menuIcon {
	grid-column: 3;
	position: absolute;
	right: 40px;
	color: black;
}
@media screen and (max-width: 768px) {
	#myLinks {
		grid-column: 2;
		display: grid;
		display: none;
		font-size: 20px;
		position: relative;
		margin: 0px;
		padding: 0px;
	}
}
#myLinks a:hover {
	text-transform: uppercase;
	background-color: black;
	color: white;
}
.navLink {
	display: grid;
	justify-content: center;
	text-decoration: none;
	font-family: 'Architects Daughter', cursive;
	color: black;
	padding: 0px;
	margin: 0px;
}
#projectsText {
	position: relative;
    font-size: 30px;
	top: 15px;
    padding: 10px;
}
.projects {
	height: 820px;
    overflow: auto;
}
.projectItem {
    border-bottom: dimgray;
	border-bottom-style: ridge;
}
.d-block {
	display: block;
	margin: auto;
	height: 230px;
    width:fit-content;
}
.projectLinks {
	margin: 0px;
	padding: 0px 40px 0px 0px;
}

/*TABLET & DESKTOP RESPONSE*/
@media screen and (min-width: 768px) {
	.topNav {
		display: grid;
		grid-template-columns: 1fr 4fr;
		position: relative;
		padding: 0px;
	}
}
@media screen and (min-width: 768px) {
	.brand {
		grid-column: 1;
		font-size: 50px;
	}
}
@media screen and (min-width: 768px) {
	.menuIcon {
		display: none;
	}
}
@media screen and (min-width: 768px) {
	div #myLinks {
		grid-column: 2;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		position: relative;
		top: 15px;
	}
}
/*END TABLET & DESKTOP RESPONSE*/
