.body {
	background-color: white;
	color: black;
	font-family: sans-serif;
	font-size: 25px;
	text-align: center;
	height: 890px;
}
.topNav {
	display: grid;
	grid-template-columns: 3fr 3fr 3fr;
	padding: 0px 0px 15px 0px;
	position: relative;
	font-size: 25px;
	top: 15px;
	border-bottom: dimgray;
	border-bottom-style: ridge;
}
.brand {
	grid-column: 1;
	text-decoration: none;
	justify-self: center;
	color: black;
}
.menuIcon {
	grid-column: 3;
	position: absolute;
	right: 40px;
	color: black;
}
@media screen and (max-width: 768px) {
	#myLinks {
		grid-column: 2;
		display: none;
		font-size: 20px;
		position: relative;
		margin: 0px;
		padding: 0px;
	}
}
#myLinks a:hover {
	text-transform: uppercase;
	background-color: black;
	color: white;
}
.navLink {
	display: grid;
	justify-content: center;
	text-decoration: none;
	font-family: sans-serif;
	color: black;
	padding: 0px;
	margin: 0px;
}
#projectsText {
	position: relative;
	font-size: 30px;
	top: 15px;
	padding: 10px 0px 15px 0px;
	text-decoration: underline;
}
.projects {
	height: 770px;
	overflow: auto;
}
.projectItem {
	margin: 5px;
	border-bottom: dimgray;
	border-bottom-style: ridge;
}
.d-block {
	display: block;
	margin: auto;
	height: 230px;
	width: auto;
}
.projectLinks {
	margin: 0px;
	padding: 15px;
	display: inline-block;
	color: black;
}

/*TABLET & DESKTOP RESPONSE*/
@media screen and (min-width: 768px) {
	.topNav {
		display: grid;
		grid-template-columns: 1fr 4fr;
		position: relative;
		padding: 0px;
	}
	.brand {
		grid-column: 1;
		font-size: 50px;
	}
	.menuIcon {
		display: none;
	}
	div #myLinks {
		grid-column: 2;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		position: relative;
		top: 15px;
	}
	.projects {
		height: auto;
		overflow: auto;
	}
}
/*END TABLET & DESKTOP RESPONSE*/
