.body {
	background-color: white;
	font-family: 'Architects Daughter', cursive;
	color: black;
}
.topNav {
	display: grid;
	grid-template-columns: 3fr 3fr 3fr;
	padding: 0px 0px 15px 0px;
	font-size: 15px;
	position: relative;
	font-size: 25px;
	top: 15px;
	border-bottom: dimgray;
	border-bottom-style: ridge;
}
.brand {
	text-decoration: none;
	justify-self: center;
	font-family: 'Architects Daughter', cursive;
	color: black;
	/* position: absolute; */
	left: 40px;
}
.menuIcon {
	grid-column: 3;
	position: absolute;
	right: 40px;
	color: black;
}
@media screen and (max-width: 768px) {
	#myLinks {
		grid-column: 2;
		display: grid;
		display: none;
		font-size: 20px;
		position: relative;
		margin: 0px;
		padding: 0px;
	}
}
#myLinks a:hover {
	text-transform: uppercase;
	background-color: black;
	color: white;
}
.navLink {
	display: grid;
	justify-content: center;
	text-decoration: none;
	font-family: 'Architects Daughter', cursive;
	color: black;
	padding: 0px;
	margin: 0px;
}
.main {
	height: 800px;
	display: grid;
	grid-template-rows: 6fr 4fr 4fr 1fr;
	text-align: center;
	padding: 0px;
	margin: 20px 0px 0px 0px;
	font-family: 'Architects Daughter', cursive;
	font-size: 25px;
	overflow: auto;
}
header {
	height: auto;
	border-bottom: dimgray;
	border-bottom-style: ridge;
	margin: 0px;
	overflow: auto;
}
.titleJay {
	color: black;
}
.portrait {
	height: 100%;
	max-height: 325px;
	border-radius: 20%;
	padding: 0px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
p {
	font-size: 15px;
	padding: 0px 10px 0px 10px;
}
.projects {
	display: grid;
	grid-template-rows: 1fr 5fr;
	border-bottom: dimgray;
	border-bottom-style: ridge;
	height: auto;
}
#projectsText {
	position: relative;
	padding: 5px;
	text-decoration: underline;
}
.projectLinks {
	margin: 0px;
	padding: 0px 40px 0px 0px;
}
.carousel {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
.d-block {
	display: block;
	margin: auto;
	width: fit-content;
	height: 230px;
}
.contact {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 3fr;
	position: relative;
	height: 175px;
	border-bottom: dimgray;
	border-bottom-style: ridge;
}
#contactText {
	position: relative;
	top: 10px;
	grid-column: 1/4;
	grid-row: 1;
}
.facebookIcon {
	position: relative;
	display: grid;
	grid-column: 1;
	grid-row: 2;
	align-self: center;
}
img.facebook {
	width: 95px;
	height: 95px;
}
.emailIcon {
	position: relative;
	display: grid;
	grid-column: 2;
	grid-row: 2;
	align-self: center;
}
img.email {
	width: 95px;
	height: 95px;
}
.linkedInIcon {
	position: relative;
	display: grid;
	grid-column: 3;
	grid-row: 2;
	align-self: center;
}
img.linkedIn {
	width: 95px;
	height: 95px;
}
footer {
	margin-top: auto;
	margin-bottom: auto;
}

/*TABLET & DESKTOP RESPONSE*/
@media screen and (min-width: 768px) {
	main {
		margin: 20px 0px 0px 0px;
	}
}
@media screen and (min-width: 768px) {
	.topNav {
		display: grid;
		grid-template-columns: 1fr 4fr;
		position: relative;
		padding: 0px;
	}
}
@media screen and (min-width: 768px) {
	.brand {
		grid-column: 1;
		font-size: 50px;
	}
}
@media screen and (min-width: 768px) {
	.menuIcon {
		display: none;
	}
}
@media screen and (min-width: 768px) {
	div #myLinks {
		grid-column: 2;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		position: relative;
		top: 15px;
	}
}
@media screen and (min-width: 768px) {
	main {
		height: 1000px;
		display: grid;
		grid-template-rows: 4fr 4fr 4fr 1fr;
		text-align: center;
		padding: 0px;
		margin: 20px 0px 0px 0px;
		font-family: 'Architects Daughter', cursive;
		font-size: 25px;
		overflow: auto;
		/* align-items: center; */
	}
	header {
		height: 450px;
		border-bottom: dimgray;
		border-bottom-style: ridge;
		margin: 0px;
		overflow: auto;
	}
}
@media screen and (min-width: 768px) {
	p {
		font-size: 25px;
		padding: 0px 20px 0px 20px;
		max-width: 1500px;
		margin-left: auto;
		margin-right: auto;
	}
}
/*END TABLET & DESKTOP RESPONSE*/
